body, input {
  font-family: Arial, sans-serif;
}
header {
    display: flex;
    height: 60px;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex-basis: 100%;
    border-bottom: 2px solid #232323;
}
.nav-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #232323;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

.nav-button:hover {
    background-color: #868686;
}

main {
  padding-left: 10px;
}

li {
  margin-bottom: 0.3em;
}
#hotellimg{
max-width: 40%;
height: 40%;
    
}